<div class="col-md-2 col-xs-6 text-right">
    <a href="index.html">
        <img style="height: 70px; padding:10px" src="https://ibekya-assets.firebaseapp.com/img/iBekya.png" alt="iBekya Logo">
    </a>
</div>
<div class="col-md-2 col-xs-3 text-left" style="padding-top:25px">
    <img style="height: 15px; margin-right: 10px" src="https://ibekya-assets.firebaseapp.com/img/egypt.png" alt="Egypt Flag"><small>Exclusively in Egypt</small>
</div>
<div class="col-md-2 col-xs-3 text-left" style="padding-top:12px">
    <img style="height: 45px; margin-right: 5px" src="https://ibekya-assets.firebaseapp.com/img/pickup.png" alt="Egypt Flag"><small>Cash on Pick-Up</small>
</div>
<form class="form-inline col-md-6 col-xs-12 text-right" style="padding-top:20px; padding-bottom:15px" role="form" ng-show="!user">
    <button type="submit" class="btn btn-default" ng-click="phone.signIn()">LOGIN</button>
</form>

<div class="col-md-6 col-xs-12 text-right" ng-show="user">
    <span style="padding-right: 5px">Welcome, {{user.displayName}}</span>
    <img style="height: 70px; padding:10px" src="{{user.thirdPartyUserData.picture.data.url}}" alt="Facebook Profile Pic">
    <button type="submit" class="btn btn-primary" ng-click="phone.signOut()">LOG OUT</button>
</div>
