<div class="col-md-2 col-xs-6 text-left">
    <a href="index.html">
        <img style="height: 70px; padding:10px" src="https://ibekya-assets.firebaseapp.com/img/iBekya.png" alt="iBekya Logo">
    </a>
</div>
<div class="col-md-2 col-xs-3 text-right" style="padding-top:23px">
    <img style="height: 25px; margin-right: 5px" src="https://ibekya-assets.firebaseapp.com/img/egypt.png" alt="Egypt"><small>Exclusively in Egypt</small>
</div>
<div class="col-md-2 col-xs-3 text-right" style="padding-top:23px">
    <img style="height: 25px; margin-right: 5px" src="https://ibekya-assets.firebaseapp.com/img/pickup.png" alt="Cash on Delivery"><small>Cash on Pick-Up</small>
</div>
<form class="form-inline col-md-6 col-xs-12 text-right" style="padding-top:20px; padding-bottom:15px" role="form" ng-show="!user">
    <button type="submit" class="btn btn-default" ng-click="phone.signIn()">Login</button>
</form>

<div class="col-md-6 col-xs-12 text-right" ng-show="user">
    <span style="padding-right: 5px">Welcome, {{user.facebook.displayName}}</span>
    <img style="height: 70px; padding:10px" src="{{user.facebook.profileImageURL}}" alt="Facebook Profile Pic">
    <button type="submit" class="btn btn-primary" ng-click="phone.signOut()">Log Out</button>
</div>
