<div name="phoneList" ng-show="phone.selectedPhone==0 && phone.offerPrice == 0" style="padding:0px; margin:0px">
    <div class="col-xs-6 col-md-3" ng-repeat="telephone in phone.phones | orderBy:'makeID' | limitTo:100" style="padding-bottom:5px">
        <div style="margin-bottom:10px; margin-top:10px; border: none">
            <img ng-src="{{telephone.image}}" style="margin-bottom: 3px; height: 125px" />
            <br/>
            <button type="button" class="btn btn-default" ng-click="phone.selectPhone(telephone.makeID, telephone.name)">
                Sell your <b>{{telephone.name}}</b>
            </button>
        </div>
    </div>
</div>
