<div name="phoneSpecs" ng-show="phone.selectedPhone > 0 && !phone.readyForOffer">
    <div layout="row" layout-align="space-around center" flex="100">
        <h4 style="padding-bottom: 0px; margin-bottom: 10px">Please specify your phone details below</h4>
    </div>
    <form name="phoneSpecsForms" layout="row" layout-wrap>
        <div layout="column" layout-align="center center" flex="100" flex-gt-md="15">
            <h4><b>{{phone.getSelectedName()}}</b></h4>
            <div>
                <img ng-src="{{phone.getSelectedImage()}}" />
            </div>
        </div>
        <div layout="column" layout-align="center start" flex="100" flex-gt-md="85">
            <span class="sectionSpan">Phone Specs</span>
            <div layout="row" layout-align="start center">
                <span class="titleSpan">Storage</span>
                <div ng-repeat="storage in phone.getStorageOptionsForSelectedModel()">
                    <md-checkbox ng-checked="cb_isSelected(storage, cb_Storage)" ng-click="cb_toggleSingleSelection(storage, cb_Storage)">{{storage}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Network</span>
                <div ng-repeat="network in phone.networks">
                    <md-checkbox ng-checked="cb_isSelected(network, cb_Network)" ng-click="cb_toggleSingleSelection(network, cb_Network)">{{network}}
                    </md-checkbox>
                </div>
            </div>

            <span class="sectionSpan">Body</span>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Scratches</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_BodyScratches)" ng-click="cb_toggleSingleSelection(option, cb_BodyScratches)">{{option}}
                    </md-checkbox>
                </div>
            </div>


            <div layout="row" layout-align="start center">
                <span class="titleSpan">Dents</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_BodyDents)" ng-click="cb_toggleSingleSelection(option, cb_BodyDents)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Cracks</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_BodyCracks)" ng-click="cb_toggleSingleSelection(option, cb_BodyCracks)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <span class="sectionSpan">Screen</span>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Scratches</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_ScreenScratches)" ng-click="cb_toggleSingleSelection(option, cb_ScreenScratches)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Cracks</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_ScreenCracks)" ng-click="cb_toggleSingleSelection(option, cb_ScreenCracks)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Colored Spots</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_ScreenColoredSpots)" ng-click="cb_toggleSingleSelection(option, cb_ScreenColoredSpots)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Replaced</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_ScreenReplaced)" ng-click="cb_toggleSingleSelection(option, cb_ScreenReplaced)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <span class="sectionSpan">Camera</span>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Front Camera</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_CamFrontProblem)" ng-click="cb_toggleSingleSelection(option, cb_CamFrontProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Back Camera</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_CamBackProblem)" ng-click="cb_toggleSingleSelection(option, cb_CamBackProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Flash</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_CamFlashProblem)" ng-click="cb_toggleSingleSelection(option, cb_CamFlashProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>


            <span class="sectionSpan">Buttons</span>
            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Power Button</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_BtnPwrProblem)" ng-click="cb_toggleSingleSelection(option, cb_BtnPwrProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Volume Button(s)</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_BtnVlmProblem)" ng-click="cb_toggleSingleSelection(option, cb_BtnVlmProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Mute Button</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_BtnMutProblem)" ng-click="cb_toggleSingleSelection(option, cb_BtnMutProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Home Button</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_BtnHomProblem)" ng-click="cb_toggleSingleSelection(option, cb_BtnHomProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>


            <span class="sectionSpan">Sound</span>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Microphone</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_SndMicProblem)" ng-click="cb_toggleSingleSelection(option, cb_SndMicProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Audio Jack</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_SndJckProblem)" ng-click="cb_toggleSingleSelection(option, cb_SndJckProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Ear Speaker</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_SndSpkrProblem)" ng-click="cb_toggleSingleSelection(option, cb_SndSpkrProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Loud Speaker</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_SndLdSpkrProblem)" ng-click="cb_toggleSingleSelection(option, cb_SndLdSpkrProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Earphones</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_SndEarPhnProblem)" ng-click="cb_toggleSingleSelection(option, cb_SndEarPhnProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>


            <span class="sectionSpan">System</span>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Signal/Calls</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_SysCellProblem)" ng-click="cb_toggleSingleSelection(option, cb_SysCellProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Wi-Fi</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_SysWiFiProblem)" ng-click="cb_toggleSingleSelection(option, cb_SysWiFiProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Bluetooth</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_SysBTProblem)" ng-click="cb_toggleSingleSelection(option, cb_SysBTProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <span class="sectionSpan">Battery/Charging</span>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Battery</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_BatProblem)" ng-click="cb_toggleSingleSelection(option, cb_BatProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Battery Replaced</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_BatReplaced)" ng-click="cb_toggleSingleSelection(option, cb_BatReplaced)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Charging Dock</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_BatDockProblem)" ng-click="cb_toggleSingleSelection(option, cb_BatDockProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Charging Cable</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_BatCblProblem)" ng-click="cb_toggleSingleSelection(option, cb_BatCblProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="start center">
                <span class="titleSpan">Problem with Wall Charger</span>
                <div ng-repeat="option in phone.typicalOptions">
                    <md-checkbox ng-checked="cb_isSelected(option, cb_BatChrgrProblem)" ng-click="cb_toggleSingleSelection(option, cb_BatChrgrProblem)">{{option}}
                    </md-checkbox>
                </div>
            </div>

            <div layout="row" layout-align="center center" flex="100" style="margin-top: 10px">
                <button type="button" class="btn btn-primary" ng-click="phone.restartSelection()" style="width: 120px">&lt; &nbsp;Back</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-primary" style="width: 120px" ng-disabled="phoneSpecsForms.$invalid" ng-click="phone.setReadyForOffer()">Get Offer &nbsp; &gt;</button>

            </div>
    </form>
    </div>
