<div ng-show="phone.readyForOffer && !user">
    <br/>
    <div class="alert alert-danger" role="alert">
        Please login (using the button above) to see our offer
    </div>
    <br/>
    <button type="button" ng-click="phone.backToSpecs()" class="btn btn-primary"><b>&lt;&nbsp;Back</b>
    </button>
</div>


<div name="phoneOffer" ng-show="phone.readyForOffer && user" class="text-center">
    <h2>We want to buy your</h2>
    <span style="color:red">{{phone.phoneModel}} | {{phone.phoneStorage}}GB | {{phone.phoneNetwork}} | {{phone.phoneCondition}}</span>
    <h3>for</h3>
    <h1 class="jumbotron text-center">{{offeredPrice.$value | number}} L.E.</h1>

    <div class="input-group">
        <span class="input-group-addon">Mobile Number</span>
        <input type="text" class="form-control" placeholder="Mobile Number" ng-model="phone.userMobile">
        <input type="text" class="form-control" placeholder="Mobile Number Confirmation" ng-model="phone.userMobileConfirmation">

        <span class="input-group-addon">E-mail Address</span>
        <input type="text" class="form-control" placeholder="E-mail Address" ng-model="phone.userEmail">
        <input type="text" class="form-control" placeholder="E-mail Address Confirmation" ng-model="phone.userEmailConfirmation">
    </div>

    <br/>
    <br/>

    <div ng-show="!offerAccepted">
        <div class="text-right col-xs-6" style="margin-top: 10px">

            <button type="button" ng-click="phone.backToSpecs()" class="btn btn-primary"><b>&lt;&nbsp;Back</b>
            </button>
        </div>

        <div class="text-left col-xs-6" style="margin-top: 10px">
            <button type="button" ng-click="phone.validateInput() && phone.acceptOffer(phone.phoneStorage, phone.phoneNetwork, phone.phoneCondition)" class="btn btn-success" ng-disabled="!user"><b>Accept Offer</b>
            </button>
        </div>
        <br/>
    </div>
    <div ng-show="offerAccepted">
        <br/>
        <div class="alert alert-info" role="alert">
            <b>Thank you for accepting our offer!
        <br/>We will be contacting you shortly for pick up details...</b>
        </div>

        <button type="button" class="btn btn-primary" ng-click="phone.restartSelection()" style="width: 120px">Done</button>
    </div>
</div>